:root {
  --primary: #b6985b;
  --bg: #010101;
  --first-color: #2e2e41;
  --second-color: #5b85ff;
  --third-color: #434354;
  --text-fill-color: #fff;

  --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
  --text-shadow: 0 5px 25px rgba(168, 168, 168, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

section {
  position: relative;
  margin: 0;
  transition: 0.5s ease;
}

body {
  font-family: "Raleway", sans-serif;
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 7%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999999;
  color: black;
  background-color: none;
  transition: top 0.2s;
}

.navbar-hidden {
  top: -80px;
}

.navbar img {
  width: 20%;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700px;
  color: black;
  font-style: italic;
}

.navbar img {
  background-color: none;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1.6rem;
  position: relative;
  left: -17%;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero .container {
  display: flex;
  justify-content: center;
}

.hero .content .sosmed {
  gap: 2rem;
  display: flex;
  margin-top: 2rem;
}

.hero .sosmed a {
  color: white;
  display: none;
}
.hero .paragraph {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 36rem;
}

.hero .content h1 {
  font-size: 3.3em;
  line-height: 5rem;
  color: white;
  font-weight: 800;
}

.hero .content p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  color: white;
  justify-content: center;
}

.hero .content .button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.5rem;
  display: none;
}

.hero .content h3 {
  line-height: 3rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  mix-blend-mode: difference;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.shadow {
  background-color: #0101016c;

  min-height: 40vh;
  margin-top: 35rem;
}

/* About Section */
.about .container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  padding: 0 3rem;
  gap: 5rem;
  margin-left: -8rem;
}
.about img {
  height: 110vh;
}
.about .paragraph {
  max-width: 40rem;
  align-items: center;
  display: flex;
}

.about .paragraph h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about .paragraph p {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.about .content {
  display: flex;
}

.about .content p {
  background-color: #010101;
  padding: 1.5rem 5.5rem;
  color: white;
  border: 1px solid black;
  transition: 0.25s;
}

.about .content p:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.about .best-seller {
  display: flex;
  padding: 0 3rem;
  margin-top: 20rem;
  justify-content: center;
  gap: 7rem;
  align-items: center;
}

.about .best-seller img {
  height: 50rem;
}

.about .best-seller .paragraph {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about .best-seller h1 {
  margin-top: 1rem;
}

.best-seller h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
}

.best-seller h3 {
  font-size: 1.5rem;
}
.best-seller .paragraph p {
  font-weight: 400;
}

.best-seller .paragraph .span {
  font-weight: 800;
  font-size: 3rem;
}

.line {
  background-color: #010101;
  width: 7rem;
  height: 0.2rem;
  margin-bottom: 3rem;
}

.line p {
  display: none;
}

.best-seller .paragraph span {
  font-size: 1.5rem;
}

.best-seller .paragraph .btn .btn-a {
  background-color: white;
  border: 1px solid black;
  padding: 1rem 5rem;
  color: #010101;
  font-weight: 800;
  margin-top: -1rem;
  transition: 0.25s;
}

.best-seller .paragraph .btn a {
  color: #010101;
}

.best-seller .paragraph .btn p:hover {
  color: white;
  background-color: black;
}

/* About End */

/* Media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  #hamburger-menu {
    display: inline-block;
    color: var(--primary);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 7%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999999;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    padding-left: 6rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .hero .paragraph {
    text-align: center;
    margin: auto;
  }

  .hero .sosmed {
    justify-content: center;
  }

  .hero h1 {
    margin-bottom: 3rem;
  }

  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .about .content {
    justify-content: center;
  }

  .about img {
    width: 75%;
  }

  .best-seller {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .best-seller img {
    width: 50%;
  }
  .menu p {
    font-size: 1.2rem;
  }

  footer .socials img {
    width: 20rem;
    margin-top: -2rem;
  }
}

/* mss */
@media (max-width: 1450px) {
  html {
    font-size: 55%;
  }
}

/* handphone */
@media (max-width: 480px) {
  html {
    font-size: 45%;
  }

  .about .content {
    padding: 0 3rem;
  }

  .about img {
    width: 100%;
  }

  .best-seller img {
    width: 100%;
  }
}

.close {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* Kontak section */
.kontak .title {
  text-align: center;
}

.kontak .title p {
  margin-top: -3rem;
}

.contact_container {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 0;
  max-width: 700px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  padding-top: 7rem;
}

.kontak {
  margin-bottom: 7rem;
}

.contact_part .row {
  display: flex;
  justify-content: center;
  gap: 5rem;
  text-align: center;
  margin-top: 5rem;
  margin-right: 1.3rem;
}

.contact_part i {
  font-size: 2.5rem;
  color: var(--primary);
  position: relative;
  bottom: 1rem;
}
/* Footer */
footer {
  text-align: center;
  padding: 1rem 0 3rem;
}

footer .socials {
  padding: 3rem 1rem;
  justify-content: center;
  margin-top: 3rem;
}

.line-footer {
  background-color: #010101;
  width: 7rem;
  height: 0.4rem;
  margin-bottom: 3rem;
  justify-content: center;
  margin: auto;
  margin-top: 5rem;
}

footer img {
  width: 10%;
}

footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: black;
  padding: 1.7rem 1rem;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

/* Galery */
.gallery .title,
.benefit .title {
  text-align: center;
  margin-top: 20rem;
}

.gallery .title h2,
.benefit .title h2 {
  font-size: 3rem;
}

.gallery .card {
  border-radius: 7px;
  margin: 0rem;
  overflow: hidden;
  margin-top: 1rem;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.gallery .gallery-content {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 3rem 3rem;
}

.gallery .card .card-ex a {
  color: orange;
}

.gallery .card img {
  width: 300px;
}

.gallery .gallery-content .card-ex {
  height: 50px;
  width: 350x;
  padding: 1.3rem;
  position: relative;
  box-sizing: border-box;
  background: #cccccc69;
  bottom: 0px;
  transition: 0.5s;
}

.gallery .card-ex p {
  visibility: hidden;
}

.gallery .card:hover .card-ex {
  bottom: 100px;
  height: 100px;
  background: #cccccc69;
}

.gallery .gallery-content .card:hover .card-ex p {
  opacity: 1;
  visibility: visible;
}

.gallery .gallery-content .card:hover img {
  transform: scale(1.13s);
  transition: 0.5s;
}

/* Clips */
.sliders .slider img {
  height: 50vh;
  object-fit: cover;
  width: 100%;
  margin-top: 10rem;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .paragraph,
.about .container img,
.about .container .paragraph,
.about .content,
.best-seller,
.best-seller .btn,
.gallery .title,
.gallery .gallery-content,
.sliders {
  opacity: 0;
}

.animate-in {
  animation: fadeIn 1s ease-in-out forwards;
}
